<div class="box1 box">
    <div class="box_content">
        <div class="text">
            <p class="box_title"><b>{{ include.title }}</b></p>
            <p class="box_title">{{ include.description }}</p>
        </div>
        <div class="icons">
            <img loading="lazy" src="/images/icons/social/daraz-icon.webp" width="52" height="52"
                alt="daraz icon link to product">
        </div>
        <div class="button">
            <div>
                <a href="{{ include.link }}" class="box_button connect">{{ include.button_text }}</a>
            </div>
        </div>
    </div>
</div>