---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

<head>
  {% include header.html %}
  <link rel="preload" href="{{page.title_img}}-320w.webp" as="image" type="image/webp" fetchpriority="high"
    media="(max-width: 320px)">
  <link rel="preload" href="{{page.title_img}}-640w.webp" as="image" type="image/webp" fetchpriority="high"
    media="(min-width: 321px) and (max-width: 767px)">
  <link rel="preload" href="{{page.title_img}}-960w.webp" as="image" type="image/webp" fetchpriority="high"
    media="(min-width: 768px) and (max-width: 992px)">
  <link rel="preload" href="{{page.title_img}}-1280w.webp" as="image" type="image/webp" fetchpriority="high"
    media="(min-width: 993px)">
</head>
<div data-pagefind-meta="image[src]" src="{{page.title_img}}-640w.webp">
</div>

<body id="body">
  <section class="section">
    <div class="container">
      {% include breadcrumb.html %}
      <div class="row">

        <div class="col-md-6 align-self-center text-center text-md-left">
          <div class="block">
            <h1 class="mb-4">{{ page.title }}</h1>
            <p class="mb-4">{{ page.product_line }}</p>
            <p class="mb-4">{{ page.title_description }}</p>
            <a href="/{{page.brand | downcase}}" class="btn btn-main" title="Browse All {{page.brand}} Products">Browse
              All
              {{page.brand}} Products</a>
          </div>
        </div>
        <div class="col-md-6 text-center mb-5 mb-md-0">
          <img class="img-fluid" src="{{page.title_img}}-640w.webp" srcset="{{page.title_img}}-320w.webp 320w,
                       {{page.title_img}}-640w.webp 640w,
                       {{page.title_img}}-960w.webp 960w,
                       {{page.title_img}}-1280w.webp 1280w" sizes="(max-width: 767px) 100vw,
                       (min-width: 768px) calc(6/12 * 100vw)" width="430" height="430" alt="{{page.title_img_alt}}">
        </div>
      </div>
    </div>
  </section>

  <section class="feature-list section">
    <div class="container">
      <div class="row">
        <div class="font-weight-bold col-12 mb-4">
          <h2>What's inside this article</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 align-self-center text-md-left">
          <div class="content">
            <h3 class=""><a class="link-title" href="#section-ingredients" title="What are its ingredients">What are its
                ingredients</a></h3>
            <h3 class=""><a class="link-title" href="#sectionSuit" title="Who is it for">Who is it for</a></h3>
            <h3 class=""><a class="link-title" href="#sectionAboutBrand" title="What {{page.brand}} stands for">What
                {{page.brand}} stands for</a></h3>
            <h3 class=""><a class="link-title" href="#sectionUsage" title="Usage">How to use</a></h3>
            <h3 class=""><a class="link-title" href="#sectionBeforeYouBuy" title="Before you buy">Before you buy</a>
            </h3>
            <h3 class=""><a class="link-title" href="#sectionBuy" title="Want to buy">Want to buy</a></h3>
            <h3 class=""><a class="link-title" href="#sectionAbout" title="About {{page.brand}}">About
                {{page.brand}}</a></h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="feature-list section" id="section-ingredients">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading pb-28">
            <h2>What are its ingredients</h2>
            <p>The ingredients for {{page.title}} are</p>
            <p>{{ page.ingredients }}</p>
          </div>
        </div>
      </div>

      <div class="row mb-40">
        <div class="col-md-6 align-self-center text-center text-md-left">
          <div class="content">
            <h3 class="">Ingredients Summary</h3>
            <p>{{ page.ingredients_summary }}</p>
          </div>
        </div>
        <div class="col-md-6 text-center text-md-left">
          <div class="content">
            <h3 class="">Ingredients Quality</h3>
            <p>{{ page.ingredients_quality }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="feature-list section" id="sectionSuit">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="heading pb-28">
            <h2>Will this product suit you</h2>
            <p>Not every product suits every skin—but not trying what your skin truly needs
              could mean holding onto
              issues longer than
              you have to. The real risk isn’t trying—it’s missing the one that could’ve worked.</p>
          </div>
          <div class="col-md-12 order-md-1 order-2 align-self-center mb-5">
            <div class="content">
              <h3 class="">Based on your skin type</h3>
              <p>{{page.based_skin}}
              </p>
            </div>
          </div>
          <div class="col-md-12 order-md-1 order-2">
            <div class="content">
              <h3 class="">Based on your age</h3>
              <p>{{page.based_age}}
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-5 text-center mb-5 mb-md-0">
          <img class="img-fluid" loading="lazy" src="{{page.secondary_img}}-640w.webp" srcset="{{page.secondary_img}}-320w.webp 320w,
                                 {{page.secondary_img}}-640w.webp 640w,
                                 {{page.secondary_img}}-960w.webp 960w,
                                 {{page.secondary_img}}-1280w.webp 1280w" sizes="(max-width: 767px) 100vw,
                                 (min-width: 768px) calc(6/12 * 100vw)" width="430" height="430"
            alt="{{page.secondary_img_alt}}">
        </div>
      </div>
    </div>
  </section>

  <section class="section" id="sectionAboutBrand">
    <div class="container">
      {{page.brand_info}}
    </div>
  </section>

  <section class="feature-list section" id="sectionUsage">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading pb-28">
            <h2>Usage</h2>
            <p>{{ page.usage }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section" id="sectionBeforeYouBuy">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="heading pb-28">
            <h2>Before you buy</h2>
            <p>Buy the wrong product, and your skin pays the price—not just in money, but in time, damage, and regret.
              Choose
              wisely—your skin doesn’t get a reset button.</p>
          </div>
        </div>

        <div class="col-lg-6 col-sm-6 mb-5 mb-lg-0 text-left">
          <div class="">
            <h3 class="mb-2">Choose for</h3>
            <p>
              {{ page.choose_for }}
            </p>
          </div>
        </div>

        <div class="col-lg-6 col-sm-6 mb-5 mb-lg-0 text-left">
          <div class="">
            <h3 class="mb-2">Avoid if</h3>
            <p>
              {{ page.avoid_if }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section" id="sectionBuy">
    <div class="container">
      <div class="col-md-12 mb-3">
        <h2>To buy</h2>
      </div>
      <div class="col-md-4 mb-4">
        {{ content }}
      </div>
      <div class="col-lg-12 col-sm-6 mb-5 mb-lg-0 text-left">
        <p>
          <a href="https://wa.me/9704583400?text={{ site.url }}{{ page.url }}" class="link-title"
            title="Any Questions?"><img loading="lazy" src="/images/icons/social/whatsapp-icon.webp"
              alt="whatsapp icon to contact" class="m-2" width="48" height="48">Any Questions?
          </a>
        </p>
      </div>
      <div class="col-lg-12 pt-4">
        <p>
          <i>Disclaimer: <b>When you buy through the links above, we may earn a commission — which helps support our
              work.
              Your support means a lot, thank you.</b> This price above for {{page.title}} is only for
            representation purpose. Price may
            differ on actual website. The information provided about
            the
            product is for general informational
            purposes
            only and
            is not intended as medical advice or to diagnose, treat, cure, or prevent any skin conditions or
            illnesses.
            Individual
            results may vary depending on skin type, usage, and other factors.
          </i>
        </p>
      </div>
    </div>
  </section>

  <section class="section" id="sectionAbout">
    <div class="container">
      <div class="row">
        <div class="col-md-12 align-self-center text-center text-md-left">
          <div class="content">
            <h2 class="subheading mb-10">About {{page.brand}}</h2>
            <p>
              {{page.about_brand}}
            </p>
            <a href="/{{page.brand | downcase}}" class="btn btn-main" title="Browse All {{page.brand}} Products">Browse
              All
              {{page.brand}} Products</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<footer>
  {% include footer.html %}
</footer>

{% assign three_months_from_now = "now" | date: "%Y-%m-%d" | date: "%s" | plus: 7884000 | date: "%Y-%m-%d" %}
<script type="application/ld+json">
[{
  "@context": "https://schema.org/",
  "@type": "ProductGroup",
  "@id": "#{{page.sku}}",
  "productGroupID": "{{page.sku}}",
  "name": "{{page.title}}",
  "description": "{{page.meta_description}}",
  "image": "{{ site.url }}{{page.title_img}}-1280w.webp",
  "brand": {
    "@type": "Brand",
    "name": "{{page.brand}}"
  },
  "sku": "{{page.sku}}",
  "category": "{{page.meta_category}}",
  "hasVariant": 
  [
    {% assign items = page.variants | split: "," %}
    {% for item in items %}
    {
      {% assign splittedItems = item | split: "_" %}
      "@type": "Product",
        "name": "{{page.title}} | {{splittedItems[1]}}",
        "sku": "{{splittedItems[0]}}",
        "{{page.variant_type}}": "{{splittedItems[1]}}",
        "image": "{{ site.url }}{{page.title_img}}-1280w.webp",
        "description": "{{page.meta_description}}",
        "isVariantOf": { "@id": "#{{page.sku}}" },
        "offers":
        {
          "@type": "Offer",
          "price": "{{splittedItems[2]}}",
          "priceCurrency": "NPR",
          "availability": "https://schema.org/InStock",
          "itemCondition": "https://schema.org/NewCondition",
          "url": "{{ site.url }}{{ page.url }}",
          "priceValidUntil": "{{three_months_from_now}}",
          "seller": {
            "@type": "Organization",
            "name": "Jhuppo"
          }
        }
    }
    {% if forloop.last %}
    {% else %},
    {% endif %}
  {% endfor %}
  ],
  "color": "White",
  "material": "[{{page.dispenser}}]",
  "additionalProperty": 
  [
    {
      "@type": "PropertyValue",
      "name": "GPC",
      "value": "{{page.gpc}}"
    },
    {
      "@type": "PropertyValue",
      "name": "Ingredients",
      "value": "{{page.ingredients | strip_html}}"
    },
    {
      "@type": "PropertyValue",
      "name": "Ingredients Summary",
      "value": "{{page.ingredients_summary | strip_html}}"
    },
    {
      "@type": "PropertyValue",
      "name": "Quality",
      "value": "{{page.ingredients_quality | strip_html}}"
    },
    {
      "@type": "PropertyValue",
      "name": "Usage",
      "value": "{{page.usage | strip_html}}"
    }
  ]
},
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "headline": "{{page.title}}",
  "description": "{{page.product_line}}",
  "datePublished": "2025-05-05T14:00:00+00:00",
  "dateModified": "",
  "url": "{{ site.url }}{{ page.url }}",
  "mainEntityOfPage": "{{ site.url }}{{ page.url }}",
  "publisher": {
    "@type": "Organization",
    "name": "Jhuppo",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}/images/system/jhuppo-logo-large.png",
      "width": "512",
      "height": "512"
    }
  },
  "articleSection": "Reviews",
  "keywords": {{page.keywords | jsonify}},
  "author": [
    {
      "@type": "Organization",
      "name": "Jhuppo",
      "url": "https://jhuppo.com"
    }
  ],
  "isAccessibleForFree": true,
  "image": [
    {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{page.title_img}}-1280w.webp"
    },
    {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{page.secondary_img}}-1280w.webp"
    }
  ],
  "articleBody": "{{page.title_description | strip_html}} {{page.ingredients | strip_html}} {{page.ingredients_summary | strip_html}} {{page.ingredients_quality | strip_html}} {{page.based_skin | strip_html}} {{page.based_age | strip_html}} {{page.usage | strip_html}} {{page.choose_for | strip_html}} {{page.avoid_if | strip_html}}"
},
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ site.url }}"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "{{page.brand}} products",
      "item": "{{ site.url }}/{{ page.brand | downcase }}"
    },
    {
      "@type": "ListItem",
      "position": 3,
      "name": "{{page.title}}",
      "item": "{{ site.url }}{{ page.url }}"
    }
  ]
}]
</script>

</html>