---
layout: compress
---
<!DOCTYPE html>

<html lang="en">

<head>
  {% include header.html %}
  <link rel="stylesheet" defer href="/asset/css/bird-fly.min.css">
</head>

<body id="body" data-pagefind-ignore="all">
  <div class="bird-container bird-container--one">
    <div class="bird bird--one"></div>
  </div>

  <div class="bird-container bird-container--two">
    <div class="bird bird--two"></div>
  </div>

  <div class="bird-container bird-container--three">
    <div class="bird bird--three"></div>
  </div>

  <div class="bird-container bird-container--four">
    <div class="bird bird--four"></div>
  </div>
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto align-self-center text-center">
          <div class="content">
            <h1 class="mt-5 h2" style="font-weight: 300;">Discover, Information, Insights</h1>
            <h2 class="" style="font-size: 16px; line-height: 25px;">Find valuable insights and detailed information
              about different
              products. Discover the
              latest collections, essential
              information, and key insights to make better choices.
              <br><br> Discover products with search
            </h2>
          </div>
          <div class="content">
            <div id="search"></div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</body>

</html>

<link href="/asset/css/pagefind.min.css" rel="stylesheet">
<script src="/asset/pagefind/pagefind-ui.js"></script>

<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    new PagefindUI({
      element: "#search", baseUrl: "/", processResult: function (result) {
        if (result.url.endsWith(".html")) {
          result.url = result.url.replace(/\.html$/, "");
        } else {
          result.url = result.url.slice(0, -1) + "";
        }
        return result;
      }
    });
  });
</script>


<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url": "https://jhuppo.com",
    "name": "Jhuppo",
    "description": "Find valuable insights and detailed information about products. Discover the latest collections, essential information, & key insights to make better choices.",
    "image": "{{site.url}}/android-chrome-192x192.png",
    "publisher": {
      "@type": "Organization",
      "name": "Jhuppo",
      "logo": {
        "@type": "ImageObject",
        "url": "{{site.url}}/android-chrome-192x192.png"
      }
    },
    "inLanguage": "en-US"
  }
  </script>