---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

<head>
  {% include header-brand.html %}
</head>
{% if page.title == "Apple" %}
{% assign data = site.data.laptop.apple-list %}
{% elsif page.title == "dell" %}
{% assign data = site.data.beauty.minimalist-list %}
{% endif %}

<div data-pagefind-meta="image[src]" src="{{page.logo}}">
</div>

<body id="body">
  <section class="section gallery">
    <div class="container">
      {% include breadcrumb.html %}
      <div class="row">
        <div class="col-12 mb-5">
          <h1 class="mb-4">Products by {{page.title}}</h1>
          <p>{{page.description}}</p>
        </div>
        {% for item in data %}
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="block">
            <img class="img-fluid" loading="lazy" src="/images/{{item.thumb}}-thumb-160w.webp" srcset="/images/{{item.thumb}}-thumb-80w.webp 80w,
                                     /images/{{item.thumb}}-thumb-160w.webp 160w,
                                     /images/{{item.thumb}}-thumb-215w.webp 215w,
                                     /images/{{item.thumb}}-thumb-320w.webp 320w,
                                     /images/{{item.thumb}}-thumb-430w.webp 430w" sizes="(max-width: 767px) 100vw,
            (min-width: 768px) calc(3/12 * 100vw)" width="215" height="215" alt="{{item.title}}">
          </div>
          <div class="product-info">
            <h2 class="mb-2" style="font-size: 16px;"><a href="/{{ item.url }}" class="link-title">{{item.title}}</a>
            </h2>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</body>
<footer>
  {% include footer.html %}
</footer>


<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ItemList",
  "itemListOrder": "ItemListOrderUnordered",
  "numberOfItems": {{ data | size }},
  "itemListElement": [
  {% for item in data %}
  {
    "@type": "ListItem",
    "position": {{forloop.index}},
    "item": {
      "@type": "Product",
      "name": "{{item.title}}",
      "image": "{{site.url}}/images/{{item.thumb}}-1280w.webp",
      "url": "{{site.url}}/{{item.url}}",
      "brand": {
          "@type": "Brand",
          "name": "{{page.title}}"
        },
        "offers": {
          "@type": "Offer",
          "price": "{{item.price}}",
          "priceCurrency": "NPR",
          "availability": "https://schema.org/InStock"
        },
         "description": "{{item.description}}",
         "category": "{{item.category}}",
        
      "sku": "{{item.sku}}"
      } 
  }
  {% if forloop.last %}
    {% else %},
    {% endif %}
  {% endfor %}
  ]
}
</script>

</html>